* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  text-align: center;
  list-style: none;
  background: black;
}
ul li {
  display: inline-block;
}
ul li a {
  padding: 10px;
  display: block;
  color: grey;
  text-decoration: none;
}

ul li a:hover {
  color: white;
  background: rgb(52, 83, 5);
}
img {
  width: 100%;
}
