#container {
  width: 400px;

  margin: 0 auto;
}
.b {
  border: 1px solid black;
  box-sizing: border-box;
}
.e {
  width: 50%;
  background: deepskyblue;
  color: white;
  float: left;
  font-size: 10em;
  text-align: center;
}

#reponse_enfant {
  width: 100%;
  background: deeppink;
  clear: both;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

#reponse_enfant label,
#reponse_enfant input {
  width: 100%;
}

#photo {
  width: 100%;
  min-height: 200px;
}
