body {
  font-family: "Roboto", sans-serif;
}
h1 + img {
  width: 100%;
}

p img {
  width: 150px;
  float: left;
  margin-right: 20px;
}

p {
  border: 2px solid red;
  padding: 20px;
  text-align: justify;
  text-indent: 20px;
  columns: 2;
}

h1,
h2 {
  text-align: center;
  text-transform: capitalize;
  border: 2px solid green;
  padding: 10px;
  clear: both;
}

p:hover {
  background: black;
  color: white;
  font-size: 18px;
}
ul {
  list-style: none;
  margin-bottom: 20px;
}

/* li {
  border: 2px solid black;
  width: 150px;
  padding: 10px 0 10px 0;
  text-align: center;
  float: left;
} */
li {
  display: inline-block;
}
li a {
  text-decoration: none;
  background: black;
  color: white;
  display: block;
  padding: 10px;
}
li a:hover {
  background: grey;
}
li:hover {
  background: red;
  color: white;
}
