* {
  margin: 0;
  padding: 0;
}

header {
  width: 1000px;
  height: 50px;
  background: pink;
  margin: auto;
  box-shadow: 0px 4px 4px black;
}
#logo {
  width: 200px;
  height: 50px;
  background: rgb(224, 20, 54);
  float: left;
}
#menu {
  float: right;
  width: 700px;
  height: 50px;
  background: black;
}
